<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="thumbnail" content="/images/the-verge-banner.png"/>
  <meta property='og:title' content='The Verge Replica - Top Articles with News API'/>
  <meta property='og:image' content='/images/the-verge-banner.png'/>
  <meta property='og:description' content='Made with Node.js, EJS, Javascript and News API/>
  <meta property='og:url' content='//www.example.com/URL of the article'/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
<link rel="stylesheet" href="styles.css">
  <script defer src="script.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <title>The Verge Replica - Top Articles with News API</title>
</head>
<body>
  <div class="banner-container">
    <img class="banner" src="/images/the-verge-banner.png" alt="Banner" >
    <div class="date"><%= moment().format('dddd, MMMM D, YYYY')%> | A Galaxy Of Stars</div>
    <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 291.4 1280 217.2"><path d="M0 292.1v58.1h39.7v153.2h67.1V292.1M220.1 372.4h-31.4v-22.3h15.8v-58h-82.8v211.3h67v-79.9h31.4v79.9h67.2V292.1h-67.2M302 503.4h124.3v-58.2h-60.2v-24.6h38.3v-48.2h-38.3v-22.2h60.2v-58.1H302M954.8 363.6c0-45.6-33.7-71.5-81.5-71.5h-74.7v211.2h67.1v-54.1l38.4 54.1h75.7l-54.4-81c19.6-10.7 29.4-30.2 29.4-58.7M865.5 387v-39.3c9.3 0 20.7 2.8 24.1 13 .3.9.5 1.9.8 2.9 0 .1 0 .3.1.4.1 1 .3 2.2.3 3.4 0 15.7-14.3 19.6-25.3 19.6M559.2 420.8h-.6l-4.8-17.4-15-53.1h26.4l17.4-58.2h-134l76.8 211.2h68.8l8.3-22.6s36.8-99.8 56.9-154.2v176.8h124.3v-58.2h-60.2v-24.6h38.2v-48.1h-38.2v-22.2h60.2V292H598l-38.8 128.8zM1280 350.3v-58.1h-124.3v211.2H1280v-58.2h-60.3v-24.6h38.3v-48h-38.3v-22.3"></path><path d="M1142.8 459.1V373H1048v48h35.3v17.1c-2.7 2.4-8.5 3.7-14.5 3.7-24.6 0-42.8-19.4-42.8-43.1s17.7-44.7 42.3-44.7c14.9 0 50.2.1 50.2.1v-62.6h-16.1c-30 0-59.9-2.4-87.4 11.8-21.7 11.2-38.9 30.2-48 52.8-5.3 13.3-8 27.7-8 42 0 59.9 47 110.4 107.9 110.4 30.2 0 59.7-11.3 75.8-25.4.1-14.6.1-16.8.1-24"></path></svg>
  </div>
  
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#0000;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" style="color:#FFF" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              TECH
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Video</a></li>
              <li><a class="dropdown-item" href="#">Amazon</a></li>
              <li><a class="dropdown-item" href="#">Apple</a></li>
              <li><a class="dropdown-item" href="#">Facebook</a></li>
              <li><a class="dropdown-item" href="#">Google</a></li>
              <li><a class="dropdown-item" href="#">Microsoft</a></li>
              <li><a class="dropdown-item" href="#">Samsung</a></li>
              <li><a class="dropdown-item" href="#">Tesla</a></li>
              <li><a class="dropdown-item" href="#">AI</a></li>
              <li><a class="dropdown-item" href="#">CyberSecurity</a></li>
              <li><a class="dropdown-item" href="#">Mobile</a></li>
              <li><a class="dropdown-item" href="#">Policy</a></li>
              <li><a class="dropdown-item" href="#">Privacy</a></li>
              <li><a class="dropdown-item" href="#">Scooters</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color:#FFF" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              REVIEWS
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              SCIENCE
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CREATORS
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ENTERTAINMENT
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">VIDEO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FEATURES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PODCASTS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              MORE
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="main-container">
     <% for (let [i, article] of articleData.entries()) {%>
      <% let authorURL = "https://www.theverge.com/authors/" + `${articleData[i].author}` %>
      <%if (i < 9) { %> 
      <div class="headline-box">
        <a href="<%=articleData[i].url %>"><img class="article-image" src="<%=articleData[i].urlToImage%>" alt="article-thumbnail"></a>
        <h3 class="title"><a href="<%=articleData[i].url %> "><%=articleData[i].title.toUpperCase()%></a></h3>
        <!-- Very rarely an aticle has multiple authors. This band-aid code prevents messing up the format in edge cases.Note to self: This can also be done with .includes method -->
          <% if (articleData[i].author.indexOf(',') < 1) { %>
            <h3> <span class="by">BY</span>  
            <a class="author" href="<%=authorURL.replace(" ", "-")%>"><%=`${articleData[i].author.toUpperCase()}`%></a></h3>
          <% } else { %>
            <h3><span class="by">BY</span> <a class="author" href="#">THE VERGE STAFF</a></h3>
          <% } %> 
      </div>
        <%} else { %>
        <div class="last-article-container">
          <div class="last-art-wrapper-1">
            <h3> <a class="title-10" href="<%=articleData[i].url %>"><%=articleData[i].title%></a> </h3>
            <% if (articleData[i].author.indexOf(',') < 1) { %>
            <h3> <span class="by-last">BY</span> <a class="author-last" href="<%=authorURL.replace(" ", "-")%>"><%=`${articleData[i].author.toUpperCase()}`%></a></h3>
            <% } else { %>
              <h3><span class="by-last">BY</span> <a class="author-last" href="#">THE VERGE STAFF</a></h3>
            <% } %> 
          </div>
         <p class="funnyline"><a href="#">AN ARTICLE-RELATED TAGLINE COULD GO HERE!</a></p>       
        </div>
      </div>
      <%}%>
  <% } %> 
<div class="white-area-container">
  <div class="compact-container">
    <%for (let [i, article] of articleData.entries()) {%>
      <% let authorURL = "https://www.theverge.com/authors/" + `${articleData[i].author}` %>
    <div class="compact-body">
      <div class="compact-col">
        <img class="compact-img" src="<%=articleData[i].urlToImage%>" alt="">
      </div>
        <div class="compact-wrapper">
          <p><a class="title-compact" href="<%=articleData[i].url %> "><%=articleData[i].title%></a></p>
          <%if (articleData[i].author.indexOf(',') < 1) { %>
            <p> <span class="by-compact">By</span> <a class="author-compact" href="<%=authorURL.replace(" ", "-")%>"><%=`${articleData[i].author}`%></a><span class="by-line-pipe">|</span><span class="article-date-time"> <%=luxon.DateTime.fromISO(`${articleData[i].publishedAt}`).toFormat('ffff') %>  </span> </p>
            <% } else { %>
              <div class="compact-wrapper">
                <p><span class="by-compact">By</span> <a class="author-compact" href="#">THE VERGE STAFF</a></p>
              </div>
              <% } %>
        </div>
      
    </div>    
    <%}%>
  </div>
  <section class="video-container">
    <h4 class="featured-video-headline">FEATURED VIDEOS</h4>
    <!-- for this loop, I only need the first 3 articles. How can I loop up to the first 3 entries only? -->
    <%for (let [i, article] of articleData.entries()) {%>
      <% if (i >= 7) { %>
        <div class="video-box">
          <div class="img-and-playbutton-svg-container">
            <div class="video-img-container"><img class="video-img" src="<%=articleData[i].urlToImage%>" alt="video-thumbnail">
              <a href="#"><div class="playbutton-svg-container">  
                <svg class="playbutton-svg" viewBox="528.9 235.2 309.3 328.8" class="playbutton-svg"><title>Play</title>
                  <path d="M531.7 563.5c-1.7-1.1-2.8-3.3-2.8-5.5V242c0-2.2 1.1-4.4 2.8-5.5 2.2-1.7 4.4-1.7 6.6-.6l296.6 157.7c2.2 1.1 3.3 3.3 3.3 6.1s-1.7 5-3.3 6.1L537.7 563.5c-1.1.6-1.7.6-2.8.6-1-.1-2.1-.1-3.2-.6z"></path></svg>
              </div></a>
            </div>
          </div>
          <p><a class="title-video" href="<%=articleData[i].url %> "><%=articleData[i].title%></a></p>
        </div>
      <% } %> 
    <%}%>
  </section>
</div>


<!-- loop again to get 10th article? -->
 

  <%- include('./partials/footer.ejs') %>
</body>
</html>
