<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <script defer src="script.js"></script>
  <title>Document</title>
</head>
<body>
  <div class="main-container">
    <% for (let [i, article] of articleData.entries()) {%>
    <div class="headline-box">  
      <img src="<%=articleData[i].urlToImage%>" alt="">
      <h3> <a href="<%=articleData[i].url %> "><%=articleData[i].title%></a> </h3>
      <% let authorURL = "https://www.theverge.com/authors/" + `${articleData[i].author}` %>
      <h3>by <a href="<%=authorURL.replace(" ", "-")%>"><%=`${articleData[i].author}`%></a></h3>
    </div>
<% } %> 
  </div>  

</body>
</html>